<mat-toolbar color="primary" class="mat-elevation-z6">
   
    <span><mat-icon aria-hidden="false" aria-label="Example home icon">eco</mat-icon> Angular App</span>

    <div class="spacer"></div>


    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="products">Products</a>
    <a mat-button routerLink="aboutus">About Us</a>
    <a mat-button routerLink="contactus">Contact Us</a>
    <a><button mat-raised-button color="warn" routerLink="signup">Sign Up</button></a>
    <div class="spacer-two"></div>
    <a><button mat-raised-button color="accent" routerLink="signin">Sign In</button></a>

</mat-toolbar>